.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-box{
  border: 2px solid gray;
  padding: 20px;
  min-width: 350px;
  width: 30%;
  border-radius: 10px;
}

.redirect{
  /* margin-top: 10px; */
}